# 10 - Beginner Exercises 
*   format()
*   F-String
* sep= & end= KeywordArgument
---

## ‚òï‚òï‚òï
1.Using the **.format()** method, write code that takes the user's name and then displays the message **```"Welcome to this program, user's name."```**

In [ ]:
# Write your own code in this cell

## ‚òï‚òï‚òï
2.Write code similar to the previous exercise, but this time use **```F-String```**. 
which one is faster?

In [ ]:
# Write your own code in this cell

##‚òï‚òï‚òï

3.Write a code that uses the F-String to display the information in my Tupel descriptively.

e.g.
**Celine Marie Claudette Dion was born in Canada and currently, she is 53 years old.**

In [ ]:
# Write your own code in this cell
mytuple = ("David Jon Gilmour", 75, "United Kingdom")

## ‚òï‚òï
4. Using $sep=$ Keyword , print the information in the list below and separate the items with an **```"-~-"```**.

In [4]:
# Write your own code in this cell
singers = ["Paul David Hewson", "Saeed Mohammadi" ,  "Aryana Sayeed"]

## ‚òï‚òï
5.Print the following Tupel information for each item separately. Then repeat the same thing again, but using $end= $ Keyword, put the **```"---"```** at the end of each item. Then interpret the results.

In [ ]:
# Write your own code in this cell
C = ("C√©line Marie Claudette Dion", 53, "Canad")
#Do not use  end= Keyword
print()
print()
print()
#Use end= Keyword
print()
print()
print()

## ‚òï‚òï

6.Using **```positional_arguments```** insert the information into  **```mytext```**, then print it.

In [ ]:
# Write your own code in this cell
mytuple = ("The history of art and art criticism","Florida",
           "Surrealist","Miami", "Darroudi","1958")

mytext= "{}‚Äôs paintings are defined as {} works.\nShe is able to\
combine the delicacy and romantic spirit of Persian paintings with\nthe \
elements of Surrealism.Darroudi's first solo exhibition was held in \
{}, \n{}, in {} at the invitation of the Florida State Art Center.\
She wrote articles \non {} for the conservative Iranian newspaper, Kayhan."

print(mytext.format(*mytuple))

**Can you explain why we used ```*mytuple``` instead of ```mytuple``` above?**

## ‚òï‚òï

7.Using **```keyword_arguments```** complete the following phrase.

In [ ]:
# Write your own code in this cell
print("The area of a circle with radius \{} is equal to {}".format())

## ‚òï

9.You are given the number $œÄ$ to a precision of 20 decimal points.
Please print these numbers with two decimal ponit.

In [ ]:
# Write your own code in this cell
pi = 3.14159265358979323846
print(pi)

## ‚òï

10.Please print the numbers below in this format. 
$$3.140000$$
$$1.618000$$
$$6.626068$$

In [ ]:
# Write your own code in this cell
N = [3.14,1.618,6.626068]

## üå∂Ô∏è

11.Please print the numbers below in this format. 

005,421,241

083,992,949

331,002,651

In [52]:
# Write your own code in this cell
N=[5421241,83992949,331002651]