# 05 - Beginner Exercises


*   Tuple
*   Set

## üçêüçêüçê 
1.print the first,third and the last element of tuple below.

In [1]:
# Write your own code in this cell 
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print(mytuple[0], mytuple[2], mytuple[-1])

red yellow azure

## üçêüçêüçê 
2.What's the index of **"violet"** and **"rose"**?

In [6]:
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print(f' index of violet: {mytuple.index("violet")}, index of rose: {mytuple.index("rose")}')

 index of violet: 9, index of rose: 11

## üçêüçêüçê 
3.How many times does **"azure"** occur?

In [7]:
# Write your own code in this cell 
mytuple = ("red", "orange", "yellow", "chartreuse green",
           "green", "spring green", "cyan", "azure", "blue",
           "violet", "magenta", "rose", "azure")

print(mytuple.count("azure"))

2

## üçêüçêüçê 
4.What is the **sum** of all the numbers in the tuple below?
Find the **maximum**, **minimum** ,**count** and **mean** of this tuple.

In [12]:
# Write your own code in this cell 
mytuple = (47, 2, 3, 5, 7, 11, 79, 13, 17, 19, 23, 29,31,
           89, 41, 43, 53, 59, 61, 67, 71, 73, 83, 37, 97)
print(f'sum: {sum(mytuple)}, max: {max(mytuple)}, min: {min(mytuple)}, count: {len(mytuple)}, mean: {sum(mytuple)/len(mytuple)}')

sum: 1060, max: 97, min: 2, count: 25, mean: 42.4

## üçêüçêüçê 
5.Create a Set of one-digit prime numbers and store it in the ```primes``` variable and print it.

In [14]:
# Write your own code in this cell 
primes = {2, 3, 5, 7}
print(f'one-digit primes: {primes}')

one-digit primes: {2, 3, 5, 7}

## üçêüçêüçê 
6.The following is a set of prime numbers less than 1000.
Can you check to see if the numbers **463**, **149**, and **973** are prime? 
Which is better for determining the presence or absence of an item in a group of items, a list or a set?

In [15]:
# Write your own code in this cell 
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}
check_13 = 13 in primes
print("13 is prime: ",check_13)
print(f'463 is prime: {463 in primes}')
print(f'149 is prime: {149 in primes}')
print(f'973 is prime: {973 in primes}')
print("set is better to determine presence of absence of an item; It is faster")
#set is better(because of hashing in storing the set)

13 is prime:  True
463 is prime: True
149 is prime: True
973 is prime: False
set is better to determine presence of absence of an item; It is faster

## üçêüçêüçê 
7.Oops! apparently one of the prime numbers below One thousand, **997**, is missing. Can you add it to ```primes``` vaiable?
Then check to see if **997** is  in **primes** variable.

In [16]:
# Write your own code in this cell 
primes.add(997)

print(f'997 is prime: {997 in primes}')

997 is prime: True

## üçê 
8.Make a set of multiples of 3 and name it **X**.

Make a set of multiples of   5 and name it **Y**.

 Can you find the multiples of 15 using the ***&*** operator and store it in variable **Z1**? 

 Can you find the multiples of 15 using the ```intersection()``` method and store it in variable **Z2**?

In [24]:
# Write your own code in this cell 
X = {3 * (i + 1) for i in range(19) if 3 * (i + 1) < 50}
Y = {5 * (i + 1) for i in range(19) if 5 * (i + 1) < 50}
Z1 = X & Y
print(Z1)
Z2 = X.intersection(Y)
print(Z2)

{45, 30, 15}
{45, 30, 15}
{33, 3, 36, 6, 39, 9, 42, 12, 45, 15, 48, 18, 21, 24, 27, 30}
{35, 5, 40, 10, 45, 15, 20, 25, 30}

## üçê
9.Now we have got the multiples of 15 and saved it in **Z1**, we also saved the multiples of 5  in the **Y**. I want you to find the multiples of 5  that are not divisible by 3.


hint: use the operator ***-*** or use the ```difference()``` method

In [25]:
# Write your own code in this cell 
print(Y-Z1)

{35, 5, 40, 10, 20, 25}

## üçê
10.In the previous exercises, we stored the multiples of 3 in the X variable and the multiples of 5 in the Y variable. 

Use the **+** operators or the ```union()``` method to make a list of numbers that are either divisible by 5 or divisible by 3, or divisible by both.

In [29]:
# Write your own code in this cell 

Z4 = X.union(Y)
print(Z4)

{3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48}